:root {
  --seek-before-width: 0%;
  --volume-before-width: 60%;
  --buffered-width: 0%;
}

#seek-slider::before {
  width: var(--seek-before-width);
}

#volume-slider {
  &::before {
    width: var(--volume-before-width);
  }

  &::-webkit-slider-runnable-track {
    background-color: rgba(0, 125, 181, 0.2);
  }
}

input[type='range'] {
  @apply relative h-5 appearance-none outline-none;

  &::-webkit-slider-runnable-track {
    background: linear-gradient(
      to right,
      rgba(0, 125, 181, 0.6) var(--buffered-width),
      rgba(0, 125, 181, 0.2) var(--buffered-width)
    );

    @apply h-1 cursor-pointer;
  }

  &::before {
    background-color: rgba(0, 125, 181, 0.6);

    @apply absolute top-2 h-1 cursor-pointer content-[''];
  }

  &::-webkit-slider-thumb {
    @apply relative bottom-1.5 h-4 w-4 cursor-pointer appearance-none rounded-full
           border border-solid border-blue-400 bg-white transition;

    &:hover {
      @apply scale-110 bg-blue-300;
    }

    &:active {
      @apply scale-125 bg-blue-400;
    }
  }
}
